/* profile create */
.main {
    margin: auto 30%;
}

#exampleFormControlTextarea1{
    width: 40vw;
}

.input-group {
    width: 40vw;
}

.form-row-create{
    width: 40vw;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.create-title{
    width: 40vw;
}

.form-control{
    width: 40vw;
}

.profile-show{
   border:1px solid rgba(0, 0, 0, 0.125);
   border-radius: 0.25rem;
   padding: 10px;
}

.profile-show p{
    color: dodgerblue;
 }

.show-right {
    text-align: right;
}

.posts-index p{
    text-align: center;
}

.post-show-body{
    font-size: 20px;
}

.profile-show{
    text-align:start;
}

audio{
    outline: none;
}

div.post-show-modal.showup{
    height: 100px;
    min-width: 300px;
    background-color: white;
    position: fixed;
    bottom: 10%;
    left: 20%;
    right: 20%;
    border: 1px solid #227dc7;
    border-radius: 0.25rem;
    text-align: center;
    display: block;
    z-index: 1;

}

div.post-show-modal{
    display: none;
}


div.row-bottons{
    display: flex;
    flex-direction: row;
    justify-content: start;
}

div.row-bottons-bottom{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

div.row-bottons-bottom-start{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 140px;
}

span.modal-label{
    margin-top:10px;
    display: block;
}

div.imgandaudio{
    text-align: center;
}

h1.post-title{
}

span.paypal{
    color: red;
}



@media (max-width: 1000px) {
    .main{
        margin: auto 5px;
        
    }

    h2 {
        text-align: center;
    }
    
    
    
    #exampleFormControlTextarea1{
        width: 100vw;
    }
    
    .input-group {
        width: 100vw;
    }
    
    .form-row-create{
        width: 100vw;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
    }

    .create-title{
        width: 100vw;
    }
    
    .form-control{
        width: 100vw;
    }
    
    div.post-show-modal.showup{
        height: 100px;
        min-width: 200px;
        background-color: white;
        position: fixed;
        bottom: 10%;
        left: 5%;
        right: 5%;
        border: 1px solid #227dc7;
        border-radius: 0.25rem;
        text-align: center;
        display: block;
        z-index: 1;
    
    }
   

}

div#navbarSupportedContent.navbar-collapse.collapse.show{
    background-color: white;
    z-index: 1;
}

div.center{
    text-align: center;
}

ul.list-group{
    text-align: start;
}

#latest-posts{
    margin-top:50px;
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    justify-content: space-evenly;
}

h2.py-4{
    text-align: start;
}

.profile-show p{
    text-align: center;
}

th.right{
    text-align: right;
}

.input-group-prepend span{
    min-width: 120px;
}

.row-bottons form{
    margin-left: 5px;
}

.row-bottons a.btn-outline-secondary{
    margin-left: 5px;
}

button.tinyButton{
    /* color: red;
    font-size: 20px; */
    position: absolute;
    right: 5px;
    bottom: 5px;
    /* left: 5px;
    padding: 0;
    
    background-color: transparent;
    border:none; */
}

li.list-group-item{
  display:flex;  
}

.list-group-item img{
    width: 100px;
    height: 100px;
    padding: 10px;
    object-fit: contain;
    margin: auto;
}

.Padding_10{
    padding: 10px;
}


a#left5{
    margin-left: 10px;
}


img#coke{
    object-fit: contain;
    width: 120px; height: 120px; margin:0;
}

div#nav{
    /* flex-wrap: nowrap; */
 }

div#collapseExample{
    /* no good */
    /* justify-content: center; */
}
div.imgandaudio{
    margin-top: 10px;
}

.imgandaudio img{
    margin-bottom: 10px;
}

.imgandaudio audio{
    margin-bottom: 10px;
}

.Post_Index{
    display: flex;
    flex-direction: column;
}

.Post_Index h5{
    text-align:center;
}

.Post_Index span{
    text-align:center;
}

div.Flex_Column{
    display: flex;
    flex-direction: column;
    margin: auto;
}

.Flex_Column img,audio{
    margin: auto;
}