.hero-img{
   margin: 0;
}
.hero-img img{
   width: 30vw;
}

span.explain{
   color: #4c4c4c;
   font-size: 1.3rem;
}

ul#country{
   margin: 0;
}

div.row-bottons-bottom-start{
   display: flex;
   flex-direction: row;
   justify-content: start;
}

.row-bottons-bottom-start a{
   margin-right: 10px;

}

a {
   padding: 0;
}



div#navbarSupportedContent.navbar-collapse.collapse.show{
   background-color: white;
   z-index: 1;
}

div.dashboard-show-modal.showup{
   height: 100px;
   min-width: 300px;
   background-color: white;
   position: fixed;
   top: 30%;
   left: 30%;
   right: 30%;
   border: 1px solid #227dc7;
   border-radius: 0.25rem;
   text-align: center;
   display: block;
   z-index: 1;

}

div.dashboard-show-modal{
   display: none;
}

div.dashboard-show-modal-post.showup{
   height: 100px;
   min-width: 300px;
   background-color: white;
   position: fixed;
   top: 30%;
   left: 30%;
   right: 30%;
   border: 1px solid #227dc7;
   border-radius: 0.25rem;
   text-align: center;
   display: block;
   z-index: 1;

}

div.dashboard-show-modal-post{
   display: none;
}

div.row-bottons-bottom{
   margin-top: 20px;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
}

@media (max-width: 500px) {
   div.dashboard-show-modal.showup{
      height: 100px;
      min-width: 300px;
      background-color: white;
      position: fixed;
      top: 30%;
      left: 5%;
      right: 5%;
      border: 1px solid #227dc7;
      border-radius: 0.25rem;
      text-align: center;
      display: block;
      z-index: 1;
   
      
   }

   div.dashboard-show-modal-post.showup{
      height: 100px;
      min-width: 300px;
      background-color: white;
      position: fixed;
      top: 30%;
      left: 5%;
      right: 5%;
      border: 1px solid #227dc7;
      border-radius: 0.25rem;
      text-align: center;
      display: block;
      z-index: 1;
   
      
   }

}

.table th:hover{
   text-decoration:underline;
}

.topPage{
   margin: auto 20%;
}

#coke{
   object-fit:contain;
   width: 120px; height: 120px; margin:0;
   
}

div#nav{
   /* flex-wrap: nowrap; */
}


.carousel {
    background: #fff;
    width: 100%;
    height: auto;/*70vh*/
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    position: relative;

  }
  .slider {
    display: flex;
    height: 100%;
    width: 200%;
    flex-shrink: 0;
    transition: all 0.5s;
  
  }
  .slider section {
    flex-basis: 50.0%;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }
  
  .slider a{
      /*box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);*/
  }
  
  .slider img{
      display:block;
      width:30vw;
      height:auto;
      object-fit:contain;
  }
  .controls button.next {
    position: absolute;
    right: 20px;
    top: 40vh;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    color: #c058dc;
    display: none;
  }
  .controls button.prev {
    position: absolute;
    left: 20px;
    top: 40vh;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    color: #c058dc;
    display: none;
  }
  .controls button i {
    font-size: 50px;
  }
  
  
 #latest-posts{
    margin-top:10px;
    margin-bottom:10px;
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    justify-content: space-evenly;
    }
    
    #latest-posts li{
        border:none;
        box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    }
    
    #latest-posts li:nth-child(1){
        background-color: beige;
    }
    
    #latest-posts li:nth-child(2){
        background-color: beige;
    }
    
    #latest-posts li:nth-child(3){
        background-color: beige;
    }
    
    #latest-posts li:nth-child(4){
        background-color: beige;
    }




main{
    text-align:center;
}

.margin_50{
    margin: 50px;
}
  
  